.topbar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;

  width: 100%;
  
  padding: 1.4rem 0;

	backface-visibility: hidden;
  background: var(--backgroundSecondary);
  box-shadow: 0 4px 10px var(--shadow);
}

.topbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar__logo {
  height: 32px;
  margin-left: 1.6rem;
}

.topbar__logo img {
  height: 100%;
}

@media (min-width: 768px) {
  .topbar__container {
    justify-content: center;
  }
  
  .topbar__logo {
    height: 38px;
  }
  
  .topbar__toggle {
    position: absolute;
    top: 0;
    right: 0;

    padding: 0.5rem 0;
  }
}