.topbar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;

  width: 100%;
  
  padding: 1.2rem 0;

	backface-visibility: hidden;
  background: var(--backgroundSecondary);
  box-shadow: 0 4px 10px var(--shadow);
}

.topbar__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar__logo {
  height: 38px;
}

.topbar__logo svg {
  height: 100%;
}
