@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --primary: #4C84FF;

  --textBold: #41414d;
  --textNormal: #737380;

  --border: rgba(0, 0, 0, .1);
  --shadow: rgba(0, 0, 0, .07);

  --background: #F8F9FB;
  --backgroundSecondary: #fff;

  --grey: #9FA9BC;
}

html,
body {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important; 
	
	height: 100vh;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.2rem;
  background: var(--background);
}

a {
  text-decoration: none;
  color: var(--textBold);
  font-weight: bold;
}

button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}

.container {
  margin: 0 auto;
  position: relative;

  width: 100%;
  min-width: 320px;
}

::placeholder {
  color: var(--grey);
  font-weight: normal;
}

@media (min-width: 960px) {
  body {
		font-size: 1.4rem;
	}

	.container {
		max-width: 960px;
	}
}
