.contacts {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 0 0.8rem;
  margin-top: 200px;
}

.description {
  display: none;
}

@media (min-width: 768px) {
  .contacts {
    margin-top: 0;
  }

  .description {
    background-color: transparent;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    color: var(--textBold);
    font-size: 1.4rem;
    font-weight: bold;
  
    padding: 8px;
    overflow: hidden;
  }
  
  .description__item {
    width: calc(100% / 6);
    padding: 0 10px;
  }

  .description__item:nth-child(1) {
    width: 40px;
  } 
}
